<a href="https://colab.research.google.com/github/Anusha0907/Hackerrank_anusha/blob/main/Hackerrank_anusha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Task - I
The provided code stub reads and integer, n, from STDIN. For all non-negative integers i < n, 
$y=x^2$

n = 3 

The list of non-negative integers that are less than n = 3 is [ 0, 1, 2 ]. Print the square of each number on a separate line.\
0\
1\
4

## Input Format
The first and the only line contains the integer, n.

## Constraints
1 ≤ n ≤ 20

## Output Format
Print n lines, one corresponding to each i.

## Sample Input 0
5

## Sample Output  0
0\
1\
4\
9\
16

In [4]:
if __name__ == '__main__':
    n = int(input())
    for i in range(0, n):
        print(i ** 2)

5
0
1
4
9
16

## Task - II
An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

## Input Format
Read , the year to test.

## Constraints
1900 ≤ year ≤ $10^5$

## Output Format
The function must return a Boolean value (True/False). Output is handled by the provided code stub.

## Sample Input 0
1990

## Sample Output 0
False

##Explanation 0
1990 is not a multiple of 4 hence it's not a leap year.

In [13]:
def is_leap(year):
    
    # to check the leap year
    leap = False
    
    # if statement that contains multiple conditions
    if ((year % 400 == 0) and (year % 100 == 0)) | ((year % 4 ==0) and (year % 100 != 0)):
        
       # change leap to True
        leap = True
    
    return leap

year = int(input())
print(is_leap(year))

2000
True

## Task - III
The included code stub will read an integer,  n, from STDIN.

Without using any string methods, try to print the following:\
123...n   

Note that "" represents the consecutive values in between.\
## Example:
n=5\
Print the string 12345.

## Input Format:
The first line contains an integer n.

## Constraints:
1<=n<=150

## Output Format:
Print the list of integers from 1 through n as a string, without spaces.

## Sample Input 0
3

## Sample Output 0
123

In [9]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i+1,end="")

3
123

## Task - IV
This tool returns successive r length permutations of elements in an iterable.

If r is not specified or is None, then r defaults to the length of the iterable, and all possible full length permutations are generated.

Permutations are printed in a lexicographic sorted order. So, if the input iterable is sorted, the permutation tuples will be produced in a sorted order.

Sample Code
```
>>> from itertools import permutations
>>> print permutations(['1','2','3'])
<itertools.permutations object at 0x02A45210>
>>> 
>>> print list(permutations(['1','2','3']))
[('1', '2', '3'), ('1', '3', '2'), ('2', '1', '3'), ('2', '3', '1'), ('3', '1', '2'), ('3', '2', '1')]
>>> 
>>> print list(permutations(['1','2','3'],2))
[('1', '2'), ('1', '3'), ('2', '1'), ('2', '3'), ('3', '1'), ('3', '2')]
>>>
>>> print list(permutations('abc',3))
[('a', 'b', 'c'), ('a', 'c', 'b'), ('b', 'a', 'c'), ('b', 'c', 'a'), ('c', 'a', 'b'), ('c', 'b', 'a')]
```
You are given a string S.

Your task is to print all possible permutations of size k of the string in lexicographic sorted order.

##Input Format
A single line containing the space separated string S and the integer value k.

##Constraints
0 < k <= len(S)
The string contains only UPPERCASE characters

##Output Format
Print the permutations of the string S on separate lines

##Sample Input
`HACK 2`

##Sample Output
```
AC
AH
AK
CA
CH
CK
HA
HC
HK
KA
KC
KH
```
##Explaination
All possible size 2 permutations of the string “HACK” are printed in lexicographic sorted order.

In [17]:
from itertools import permutations
str1, int1 = input().split()

for i in sorted(permutations(str1, int(int1))):
    print (''.join(i))

HACK 2
AC
AH
AK
CA
CH
CK
HA
HC
HK
KA
KC
KH

## Task - V
This tool returns the r length subsequences of elements from the input iterable.
Combinations are emitted in lexicographic sorted order. So, if the input iterable is sorted, the combination tuples will be produced in sorted order.

Sample Code :
```
>>> from itertools import combinations
>>> 
>>> print list(combinations('12345',2))
[('1', '2'), ('1', '3'), ('1', '4'), ('1', '5'), ('2', '3'), ('2', '4'), ('2', '5'), ('3', '4'), ('3', '5'), ('4', '5')]
>>> 
>>> A = [1,1,3,3,3]
>>> print list(combinations(A,4))
[(1, 1, 3, 3), (1, 1, 3, 3), (1, 1, 3, 3), (1, 3, 3, 3), (1, 3, 3, 3)]
```
You are given a string S.
Your task is to print all possible combinations, up to size k, of the string in lexicographic sorted order.
##Input Format :
A single line containing the string S and integer value k separated by a space.
##Constraints :
0 < k <= len(S)
The string contains only UPPERCASE characters.
##Output Format :
Print the different combinations of string S on separate lines.
##Sample Input :
```
HACK 2
```
##Sample Output :
```
A
C
H
K
AC
AH
AK
CH
CK
HK

```

In [19]:
from itertools import combinations

ios = input().split()
S = ios[0]
n = int(ios[1])
for i in range(1,n+1):
    for j in combinations(sorted(S),i):
        print("".join(j))

HACK 2
A
C
H
K
AC
AH
AK
CH
CK
HK

## Task - VI
This tool returns r length subsequences of elements from the input iterable allowing individual elements to be repeated more than once.
Combinations are emitted in lexicographic sorted order. So, if the input iterable is sorted, the combination tuples will be produced in sorted order.

##Sample Code :
```
>>> from itertools import combinations_with_replacement
>>> 
>>> print list(combinations_with_replacement('12345',2))
[('1', '1'), ('1', '2'), ('1', '3'), ('1', '4'), ('1', '5'), ('2', '2'), ('2', '3'), ('2', '4'), ('2', '5'), ('3', '3'), ('3', '4'), ('3', '5'), ('4', '4'), ('4', '5'), ('5', '5')]
>>> 
>>> A = [1,1,3,3,3]
>>> print list(combinations(A,2))
[(1, 1), (1, 3), (1, 3), (1, 3), (1, 3), (1, 3), (1, 3), (3, 3), (3, 3), (3, 3)]
```
You are given a string S.
Your task is to print all possible size k replacement combinations of the string in lexicographic sorted order.
##Input Format :
A single line containing the string S and integer value k separated by a space.
##Constraints :
0 < k <= len(s)
The string contains only UPPERCASE characters.
##Output Format :
Print the combinations with their replacements of string S on separate lines.
##Sample Input :
`HACK 2`
##Sample Output :
```
AA
AC
AH
AK
CC
CH
CK
HH
HK
KK
```

In [24]:
from itertools import combinations_with_replacement

an = input().split();
char = sorted(an[0]);
N = int(an[1]);

for i in combinations_with_replacement(char,N):
    print(''.join(i))

HACK 2
AA
AC
AH
AK
CC
CH
CK
HH
HK
KK

## Task
Let’s learn about list comprehension! You are given three integers x, y, and z representing the dimensions of a cuboid along with an integer n. Print a list of all possible coordinates given by (i, j, k) on a 3D grid where the sum of i + j + k is not equal to n. Here, 0 <= i <= x; 0 <= j <= y; 0 <= k <= z. Please use list comprehensions rather than multiple loops, as a learning exercise.
Example

x = 1

y = 1

z = 2

n = 3 

All permutations of [i, j, k] are:
```
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 2]].
```
Print an array of the elements that do not sum to n = 3.
```
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1],  [1, 1, 0],  [1, 1, 2]]
```
##Input Format
Four integers x, y, z and n, each on a separate line.
##Constraints
Print the list in lexicographic increasing order.
##Sample Input 0
```
1
1
1
2
 
```
##Sample Output 0
```
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]
```
##Explanation 0
Each variable x, y and z will have values of 0 or 1. All permutations of lists in the form [i, j, k] = [[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1],  [1, 1, 0]].

Remove all arrays that sum to n = 2 to leave only the valid permutations.
##Sample Input 1
```
2
2
2
2
 
```
##Sample Output 1
```
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]
```

In [27]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    print(list([i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1)  if i+j+k !=n))

2
2
2
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

## Task - VII
Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given n scores. Store them in a list and find the score of the runner-up.
##Input Format :
The first line contains n. The second line contains an array A[] of n integers each separated by a space.
##Constraints :
2 <= n <= 10
-100 <= A[i] <= 100
##Output Format :
Print the runner-up score.
##Sample Input :
```
5
2 3 6 6 5
```
##Sample Output :
`5`
##Explanation :
Given list is [2,3,6,6,5]. The maximum score is 6, second maximum is 5. Hence, we print 5 as the runner-up score.

In [30]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())

    print(sorted(set(arr), reverse=True)[1])

5
2 3 6 6 5
5

## Task - VIII
Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.\
Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.
##Example
*records*  = [[ “chi”, 20.0]], [“beta”, 50.0], [“alpha”, 50.0]

The ordered list of scores is [20.0, 50.0], so the second lowest score is 50.0. There are two students with that score: [“beta”, “alpha”]. Ordered alphabetically, the names are printed as:
```
alpha
beta
 
```
##Input Format
The first line contains an integer,n, the number of students.\
The 2N subsequent lines describe each student over lines.
*  The first line contains a student’s name.
*  The second line contains their grade.

##Constraints
* 2 <= N <= 5
* There will always be one or more students having the second lowest grade.

##Output Format
Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.
##Sample Input 0
```
5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
```
##Sample Output 0
```
Berry
Harry
```
##Explanation 0
There are 5 students in this class whose names and grades are assembled to build the following list:
```
python students = [[‘Harry’, 37.21], [‘Berry’, 37.21], [‘Tina’, 37.2], [‘Akriti’, 41], [‘Harsh’, 39]]
```
The lowest grade of 37.2 belongs to Tina. The second lowest grade of 37.21 belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

In [ ]:
if __name__ == '__main__':
    alist = []
    for i in range(int(input())):
        name = input()
        score = float(input())
        alist.append([name, score])
second_highest = sorted(set([score for name, score in alist]))[1]
print('\n'.join(sorted([name for name, score in alist if score == second_highest])))